#title {
 color: #fff;
}
.cardtext{
    padding-left: 1cm;
    padding-right: 1cm;
}

.cardtext , p {
    text-align: center;
}
#titlebar{
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6fb1fc, #4364f7);
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .card-stack {
    position: relative;
    width: 300px;
    height: 450px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s ease,  opacity 0.3s ease;
  }
  
  
  .card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  
  button {
    border: none;
    background: white;
    padding: 15px 20px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  }
 .tag {
  background: #eef4ff;
  padding: 6px 12px;
  margin: 0 auto;          /* center horizontally */
  display: inline-block;   /* so margin auto works nicely */
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #3b57f0;
}

  
      button {
      transition: transform 0.35s cubic-bezier(0.22,1,0.36,1)
     }
     
      button:hover {
       transform: scale(1.1);
       box-shadow: 0 6px 18px;
     }